npm-debug.log
node_modules

.DS_Store
.idea
.eslintrc.js
Thumbs.db

/coverage/
/src/
/__tests__/
/__mocks__/
.travis.yml
.babel-plugin-macrosrc.js
jest.config.js
rollup.config.js
.babelrc
.browserslistrc
